<a href="https://colab.research.google.com/github/Ayman-Abdeen/Tools/blob/main/LTE_tool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd 
import os
import glob
import warnings
warnings.simplefilter("ignore")

In [19]:
orig_dir = os.getcwd()

In [20]:
orig_dir

'/content'

In [21]:
ZTE = pd.read_csv('/content/History Performance_4G_DT_AlBassiouny_20230131163429.csv', skiprows=6,usecols=[1, 9, 11, 13], names=['dateid', 'cellid', 'siteid',  'Down Time - M'])
ZTE

                dateid                   cellid    siteid  Down Time - M
0        1/1/2023 0:00  LCAI1235_12352_N_Z_D3-2  LCAI1235              0
1        1/1/2023 0:00  LCAI1235_12354_N_Z_D3-4  LCAI1235              0
2        1/1/2023 0:00  LCAI1235_12353_N_Z_D3-3  LCAI1235              0
3        1/1/2023 0:00  LCAI1235_12351_N_Z_D3-1  LCAI1235              0
4        1/1/2023 0:00  LCAI1639_16392_N_Z_D3-2  LCAI1639            900
...                ...                      ...       ...            ...
112625  1/31/2023 0:00  LDEL4296_42961_N_Z_D3-1  LDEL4296              0
112626  1/31/2023 0:00  LDEL1586_15862_N_Z_D3-2  LDEL1586              0
112627  1/31/2023 0:00  LDEL1586_15864_N_Z_D3-4  LDEL1586              0
112628  1/31/2023 0:00  LDEL1586_15863_N_Z_D3-3  LDEL1586              0
112629  1/31/2023 0:00  LDEL1586_15861_N_Z_D3-1  LDEL1586              0

[112630 rows x 4 columns]

In [22]:
HUAWEI1 = pd.read_excel('/content/4G_HUAWEI_Update[1].xls',usecols=[0, 1, 2, 3], names=['dateid', 'siteid', 'cellid', 'Down Time - M'])
HUAWEI1

          dateid    siteid               cellid  Down Time - M
0     2023-01-08  LCAI2883  LCAI288337071NHT4-1          86395
1     2023-01-08  LCAI2883  LCAI288337072NHT4-2          86395
2     2023-01-08  LCAI2883  LCAI288337076NHT8-1          86395
3     2023-01-08  LCAI2883  LCAI288337077NHT8-2          86395
4     2023-01-08  LCAI4479  LCAI447944793NHD3-3          86385
...          ...       ...                  ...            ...
57745 2023-01-31  LCAI3402  LCAI340234024NHD3-4             20
57746 2023-01-31  LCAI3250  LCAI325032508NHG1-3             10
57747 2023-01-31  LCAI0595  LCAI059505952NHD6-2              5
57748 2023-01-31  LCAI0729  LCAI072907291NHD6-1              5
57749 2023-01-31  LCAI3145  LCAI314531456NHG1-1              5

[57750 rows x 4 columns]

In [23]:
HUAWEI2 = pd.read_excel('/content/4G_HUAWEI_Update[2].xls',usecols=[0, 1, 2, 3], names=['dateid', 'siteid', 'cellid', 'Down Time - M'])
HUAWEI2

          dateid    siteid               cellid  Down Time - M
0     2023-01-01  LCAI1183  LCAI118311832RHD3-2          86400
1     2023-01-01  LCAI1183  LCAI118350362SHD3-2          86400
2     2023-01-01  LCAI2893  LCAI289333801NHT4-1          86400
3     2023-01-01  LCAI2893  LCAI289333802NHT4-2          86400
4     2023-01-01  LCAI2893  LCAI289333803NHT4-3          86400
...          ...       ...                  ...            ...
37885 2023-01-07  LCAI2126  LCAI212621268NHG1-3             10
37886 2023-01-07  LCAI3394  LCAI339433949NHG1-4             10
37887 2023-01-07  LCAI2126  LCAI212621261NHD6-1              5
37888 2023-01-07  LCAI2126  LCAI212621262NHD6-2              5
37889 2023-01-07  LCAI2254  LCAI225422546NHG1-1              5

[37890 rows x 4 columns]

In [25]:
#list dataframe you want to append
frame = [HUAWEI1, HUAWEI2]

#new dataframe to store append result
HUAWEI = pd.DataFrame()

for df in frame:
    HUAWEI = HUAWEI.append(df)

In [26]:
HUAWEI

          dateid    siteid               cellid  Down Time - M
0     2023-01-08  LCAI2883  LCAI288337071NHT4-1          86395
1     2023-01-08  LCAI2883  LCAI288337072NHT4-2          86395
2     2023-01-08  LCAI2883  LCAI288337076NHT8-1          86395
3     2023-01-08  LCAI2883  LCAI288337077NHT8-2          86395
4     2023-01-08  LCAI4479  LCAI447944793NHD3-3          86385
...          ...       ...                  ...            ...
37885 2023-01-07  LCAI2126  LCAI212621268NHG1-3             10
37886 2023-01-07  LCAI3394  LCAI339433949NHG1-4             10
37887 2023-01-07  LCAI2126  LCAI212621261NHD6-1              5
37888 2023-01-07  LCAI2126  LCAI212621262NHD6-2              5
37889 2023-01-07  LCAI2254  LCAI225422546NHG1-1              5

[95640 rows x 4 columns]

In [24]:
Ericsson = pd.read_excel('/content/4G_Ericsson_update.xlsx',usecols=[1, 2, 3, 4], names=['dateid', 'siteid', 'cellid', 'Down Time - M'])
Ericsson

           dateid    siteid                   cellid  Down Time - M
0      2023-01-01  LCAI0005  LCAI0005_00051_N_E_D2-1            0.0
1      2023-01-01  LCAI0005  LCAI0005_00052_N_E_D2-2            0.0
2      2023-01-01  LCAI0005  LCAI0005_00053_N_E_D2-3            0.0
3      2023-01-01  LCAI0021  LCAI0021_00211_N_E_D2-1            0.0
4      2023-01-01  LCAI0021  LCAI0021_00212_N_E_D2-2            0.0
...           ...       ...                      ...            ...
614329 2023-01-31  TDEL4909  LDEL4909_49099_N_E_G1-4            0.0
614330 2023-01-31  TDEL4909  LDEL4909_59091_N_E_T4-1            0.0
614331 2023-01-31  TDEL4909  LDEL4909_59092_N_E_T4-2            0.0
614332 2023-01-31  TDEL4909  LDEL4909_59095_N_E_T8-1            0.0
614333 2023-01-31  TDEL4909  LDEL4909_59096_N_E_T8-2            0.0

[614334 rows x 4 columns]

In [29]:
all_data=ZTE
all_data['Date'] = pd.to_datetime(all_data['dateid'], errors='coerce')
count = all_data.groupby(all_data['Date'].dt.date).size()
count

Date
2023-01-01    3635
2023-01-02    3635
2023-01-03    3635
2023-01-04    3635
2023-01-05    3637
2023-01-06    3637
2023-01-07    3637
2023-01-08    3637
2023-01-09    3637
2023-01-10    3637
2023-01-11    3637
2023-01-12    3637
2023-01-13    3632
2023-01-14    3632
2023-01-15    3632
2023-01-16    3624
2023-01-17    3624
2023-01-18    3624
2023-01-19    3624
2023-01-20    3624
2023-01-21    3624
2023-01-22    3624
2023-01-23    3630
2023-01-24    3630
2023-01-25    3634
2023-01-26    3638
2023-01-27    3638
2023-01-28    3638
2023-01-29    3638
2023-01-30    3638
2023-01-31    3646
dtype: int64

In [30]:
#list dataframe you want to append
frame = [ZTE, HUAWEI, Ericsson]

#new dataframe to store append result
myDataFrame = pd.DataFrame()

for df in frame:
    myDataFrame = myDataFrame.append(df)

In [31]:
myDataFrame

,dateid,cellid,siteid,Down Time - M,Date
0,1/1/2023 0:00,LCAI1235_12352_N_Z_D3-2,LCAI1235,0.0,2023-01-01
1,1/1/2023 0:00,LCAI1235_12354_N_Z_D3-4,LCAI1235,0.0,2023-01-01
2,1/1/2023 0:00,LCAI1235_12353_N_Z_D3-3,LCAI1235,0.0,2023-01-01
3,1/1/2023 0:00,LCAI1235_12351_N_Z_D3-1,LCAI1235,0.0,2023-01-01
4,1/1/2023 0:00,LCAI1639_16392_N_Z_D3-2,LCAI1639,900.0,2023-01-01
...,...,...,...,...,...
614329,2023-01-31 00:00:00,LDEL4909_49099_N_E_G1-4,TDEL4909,0.0,2023-01-31
614330,2023-01-31 00:00:00,LDEL4909_59091_N_E_T4-1,TDEL4909,0.0,2023-01-31
614331,2023-01-31 00:00:00,LDEL4909_59092_N_E_T4-2,TDEL4909,0.0,2023-01-31
614332,2023-01-31 00:00:00,LDEL4909_59095_N_E_T8-1,TDEL4909,0.0,2023-01-31
614333,2023-01-31 00:00:00,LDEL4909_59096_N_E_T8-2,TDEL4909,0.0,2023-01-31

In [32]:
len(myDataFrame)

822604

In [33]:
len(ZTE)+len(HUAWEI)+len(Ericsson)

822604

In [ ]:
!unzip /content/NewFolder.zip -d folder

Archive:  /content/NewFolder.zip
   creating: folder/New folder/
  inflating: folder/New folder/LTE  referance data - Copy (1).csv
  inflating: folder/New folder/LTE  referance data - Copy (10).csv
  inflating: folder/New folder/LTE  referance data - Copy (11).csv
  inflating: folder/New folder/LTE  referance data - Copy (12).csv
  inflating: folder/New folder/LTE  referance data - Copy (13).csv
  inflating: folder/New folder/LTE  referance data - Copy (14).csv
  inflating: folder/New folder/LTE  referance data - Copy (15).csv
  inflating: folder/New folder/LTE  referance data - Copy (16).csv
  inflating: folder/New folder/LTE  referance data - Copy (17).csv
  inflating: folder/New folder/LTE  referance data - Copy (18).csv
  inflating: folder/New folder/LTE  referance data - Copy (19).csv
  inflating: folder/New folder/LTE  referance data - Copy (2).csv
  inflating: folder/New folder/LTE  referance data - Copy (20).csv
  inflating: folder/New folder/LTE  referance data - Copy (21).csv
  inflating: folder/New folder/LTE  referance data - Copy (22).csv
  inflating: folder/New folder/LTE  referance data - Copy (23).csv
  inflating: folder/New folder/LTE  referance data - Copy (24).csv
  inflating: folder/New folder/LTE  referance data - Copy (25).csv
  inflating: folder/New folder/LTE  referance data - Copy (26).csv
  inflating: folder/New folder/LTE  referance data - Copy (27).csv
  inflating: folder/New folder/LTE  referance data - Copy (28).csv
  inflating: folder/New folder/LTE  referance data - Copy (29).csv
  inflating: folder/New folder/LTE  referance data - Copy (3).csv
  inflating: folder/New folder/LTE  referance data - Copy (30).csv
  inflating: folder/New folder/LTE  referance data - Copy (31).csv
  inflating: folder/New folder/LTE  referance data - Copy (4).csv
  inflating: folder/New folder/LTE  referance data - Copy (5).csv
  inflating: folder/New folder/LTE  referance data - Copy (6).csv
  inflating: folder/New folder/LTE  referance data - Copy (7).csv
  inflating: folder/New folder/LTE  referance data - Copy (8).csv
  inflating: folder/New folder/LTE  referance data - Copy (9).csv

In [34]:
orig_dir="/content/folder/Newfolder"
all_data = pd.DataFrame()

for f in glob.glob("/content/folder/Newfolder/*.csv"):
    df = pd.read_csv(f, encoding= 'unicode_escape')
    all_data = all_data.append(df,ignore_index=True)
    print(f)

/content/folder/Newfolder/LTE  referance data - Copy (28).csv
/content/folder/Newfolder/LTE  referance data - Copy (12).csv
/content/folder/Newfolder/LTE  referance data - Copy (21).csv
/content/folder/Newfolder/LTE  referance data - Copy (18).csv
/content/folder/Newfolder/LTE  referance data - Copy (24).csv
/content/folder/Newfolder/LTE  referance data - Copy (5).csv
/content/folder/Newfolder/LTE  referance data - Copy (3).csv
/content/folder/Newfolder/LTE  referance data - Copy (7).csv
/content/folder/Newfolder/LTE  referance data - Copy (30).csv
/content/folder/Newfolder/LTE  referance data - Copy (15).csv
/content/folder/Newfolder/LTE  referance data - Copy (23).csv
/content/folder/Newfolder/LTE  referance data - Copy (9).csv
/content/folder/Newfolder/LTE  referance data - Copy (19).csv
/content/folder/Newfolder/LTE  referance data - Copy (13).csv
/content/folder/Newfolder/LTE  referance data - Copy (17).csv
/content/folder/Newfolder/LTE  referance data - Copy (25).csv
/content/folder/Newfolder/LTE  referance data - Copy (6).csv
/content/folder/Newfolder/LTE  referance data - Copy (1).csv
/content/folder/Newfolder/LTE  referance data - Copy (8).csv
/content/folder/Newfolder/LTE  referance data - Copy (31).csv
/content/folder/Newfolder/LTE  referance data - Copy (29).csv
/content/folder/Newfolder/LTE  referance data - Copy (11).csv
/content/folder/Newfolder/LTE  referance data - Copy (27).csv
/content/folder/Newfolder/LTE  referance data - Copy (10).csv
/content/folder/Newfolder/LTE  referance data - Copy (14).csv
/content/folder/Newfolder/LTE  referance data - Copy (2).csv
/content/folder/Newfolder/LTE  referance data - Copy (22).csv
/content/folder/Newfolder/LTE  referance data - Copy (20).csv
/content/folder/Newfolder/LTE  referance data - Copy (16).csv
/content/folder/Newfolder/LTE  referance data - Copy (4).csv
/content/folder/Newfolder/LTE  referance data - Copy (26).csv

In [35]:
all_data

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,dateid,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/28/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/28/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/28/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/28/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/28/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151397,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/26/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151398,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1/26/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151399,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1/26/2023,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151400,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,1/26/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151401,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,1/26/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
all_data['Date'] = pd.to_datetime(all_data['dateid'], errors='coerce')
count = all_data.groupby(all_data['Date'].dt.date).size()

In [37]:
count

Date
2023-01-01    37142
2023-01-02    37142
2023-01-03    37142
2023-01-04    37142
2023-01-05    37142
2023-01-06    37142
2023-01-07    37142
2023-01-08    37142
2023-01-09    37142
2023-01-10    37142
2023-01-11    37142
2023-01-12    37142
2023-01-13    37142
2023-01-14    37142
2023-01-15    37142
2023-01-16    37142
2023-01-17    37142
2023-01-18    37142
2023-01-19    37142
2023-01-20    37142
2023-01-21    37142
2023-01-22    37142
2023-01-23    37142
2023-01-24    37142
2023-01-25    37142
2023-01-26    37142
2023-01-27    37142
2023-01-28    37142
2023-01-29    37142
2023-01-30    37142
2023-01-31    37142
dtype: int64

In [38]:
all_data

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,Date
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151397,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26
1151398,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26
1151399,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26
1151400,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26
1151401,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26

In [39]:
all_data.to_csv('out.csv', index=False)

In [40]:
referance_data = pd.read_csv('/content/out.csv')

In [41]:
referance_data

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,Date
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151397,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26
1151398,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26
1151399,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26
1151400,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26
1151401,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26

In [42]:
result = pd.merge(referance_data, myDataFrame, how="left", on=['dateid', 'cellid'])
result

,cellid,cell_name,siteid_x,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,Date_x,siteid_y,Down Time - M,Date_y
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28,NaN,NaN,NaT
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28,NaN,NaN,NaT
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28,NaN,NaN,NaT
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28,NaN,NaN,NaT
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-28,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151397,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26,NaN,NaN,NaT
1151398,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26,NaN,NaN,NaT
1151399,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26,NaN,NaN,NaT
1151400,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26,NaN,NaN,NaT
1151401,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-26,NaN,NaN,NaT

In [43]:
result.describe()

,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,Down Time - M
count,72912.000000,1550.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3617.015306,1848.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7752.028733,1476.622741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,120.000000,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,780.000000,1320.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3780.000000,3060.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,60480.000000,4740.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
result.to_csv('dataframeout.csv', index=False)

In [45]:

!sudo pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.8-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.8/152.8 KB 3.9 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.8

In [46]:
writer = pd.ExcelWriter("dataframe.xlsx", engine='xlsxwriter')
result.to_excel(writer,sheet_name = 'sheet1', index=False)
writer.save()

ValueError: ignored