<a href="https://colab.research.google.com/github/Ayman-Abdeen/Tools/blob/main/LTE_tool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd 
import os
import glob
import warnings
warnings.simplefilter("ignore")

In [12]:
orig_dir = os.getcwd()

In [13]:
orig_dir

'/content'

In [14]:
ZTE = pd.read_csv('/content/History Performance_4G_DT_AlBassiouny_20230131163429.csv', skiprows=6,usecols=[1, 9, 11, 13], names=['dateid', 'cellid', 'siteid',  'Down Time - M'])
ZTE

                dateid                   cellid    siteid  Down Time - M
0        1/1/2023 0:00  LCAI1235_12352_N_Z_D3-2  LCAI1235              0
1        1/1/2023 0:00  LCAI1235_12354_N_Z_D3-4  LCAI1235              0
2        1/1/2023 0:00  LCAI1235_12353_N_Z_D3-3  LCAI1235              0
3        1/1/2023 0:00  LCAI1235_12351_N_Z_D3-1  LCAI1235              0
4        1/1/2023 0:00  LCAI1639_16392_N_Z_D3-2  LCAI1639            900
...                ...                      ...       ...            ...
108979  1/30/2023 0:00  LDEL4296_42961_N_Z_D3-1  LDEL4296              0
108980  1/30/2023 0:00  LDEL1586_15862_N_Z_D3-2  LDEL1586              0
108981  1/30/2023 0:00  LDEL1586_15864_N_Z_D3-4  LDEL1586              0
108982  1/30/2023 0:00  LDEL1586_15863_N_Z_D3-3  LDEL1586              0
108983  1/30/2023 0:00  LDEL1586_15861_N_Z_D3-1  LDEL1586              0

[108984 rows x 4 columns]

In [15]:
HUAWEI = pd.read_excel('/content/4G_HUAWEI_Update[1] - Copy.xls',usecols=[0, 1, 2, 3], names=['dateid', 'siteid', 'cellid', 'Down Time - M'])
HUAWEI

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

          dateid    siteid               cellid  Down Time - M
0     2023-01-01  LCAI1183  LCAI118311832RHD3-2          86400
1     2023-01-01  LCAI1183  LCAI118350362SHD3-2          86400
2     2023-01-01  LCAI2893  LCAI289333801NHT4-1          86400
3     2023-01-01  LCAI2893  LCAI289333802NHT4-2          86400
4     2023-01-01  LCAI2893  LCAI289333803NHT4-3          86400
...          ...       ...                  ...            ...
65530 2023-01-03  LCAI2654  LCAI265426547NHG1-2              0
65531 2023-01-03  LCAI2654  LCAI265426548NHG1-3              0
65532 2023-01-03  LCAI2654  LCAI265448596NHT8-1              0
65533 2023-01-03  LCAI2654  LCAI265448597NHT8-2              0
65534 2023-01-03  LCAI2654  LCAI265448598NHT8-3              0

[65535 rows x 4 columns]

In [16]:
Ericsson = pd.read_excel('/content/4G_Ericsson_update.xlsx',usecols=[1, 2, 3, 4], names=['dateid', 'siteid', 'cellid', 'Down Time - M'])
Ericsson

           dateid    siteid                   cellid  Down Time - M
0      2023-01-01  LCAI0005  LCAI0005_00051_N_E_D2-1            0.0
1      2023-01-01  LCAI0005  LCAI0005_00052_N_E_D2-2            0.0
2      2023-01-01  LCAI0005  LCAI0005_00053_N_E_D2-3            0.0
3      2023-01-01  LCAI0021  LCAI0021_00211_N_E_D2-1            0.0
4      2023-01-01  LCAI0021  LCAI0021_00212_N_E_D2-2            0.0
...           ...       ...                      ...            ...
579342 2023-01-30  TDEL4906  LDEL4906_59064_N_E_T4-4            0.0
579343 2023-01-30  TDEL4909  LDEL4909_59091_N_E_T4-1            0.0
579344 2023-01-30  TDEL4909  LDEL4909_59092_N_E_T4-2            0.0
579345 2023-01-30  TDEL4909  LDEL4909_59095_N_E_T8-1            0.0
579346 2023-01-30  TDEL4909  LDEL4909_59096_N_E_T8-2            0.0

[579347 rows x 4 columns]

In [17]:
#list dataframe you want to append
frame = [ZTE, HUAWEI, Ericsson]

#new dataframe to store append result
myDataFrame = pd.DataFrame()

for df in frame:
    myDataFrame = myDataFrame.append(df)

In [18]:
myDataFrame

                     dateid                   cellid    siteid  Down Time - M
0             1/1/2023 0:00  LCAI1235_12352_N_Z_D3-2  LCAI1235            0.0
1             1/1/2023 0:00  LCAI1235_12354_N_Z_D3-4  LCAI1235            0.0
2             1/1/2023 0:00  LCAI1235_12353_N_Z_D3-3  LCAI1235            0.0
3             1/1/2023 0:00  LCAI1235_12351_N_Z_D3-1  LCAI1235            0.0
4             1/1/2023 0:00  LCAI1639_16392_N_Z_D3-2  LCAI1639          900.0
...                     ...                      ...       ...            ...
579342  2023-01-30 00:00:00  LDEL4906_59064_N_E_T4-4  TDEL4906            0.0
579343  2023-01-30 00:00:00  LDEL4909_59091_N_E_T4-1  TDEL4909            0.0
579344  2023-01-30 00:00:00  LDEL4909_59092_N_E_T4-2  TDEL4909            0.0
579345  2023-01-30 00:00:00  LDEL4909_59095_N_E_T8-1  TDEL4909            0.0
579346  2023-01-30 00:00:00  LDEL4909_59096_N_E_T8-2  TDEL4909            0.0

[753866 rows x 4 columns]

In [19]:
len(myDataFrame)

753866

In [20]:
len(ZTE)+len(HUAWEI)+len(Ericsson)

753866

In [22]:
!unzip /content/NewFolder.zip -d folder

Archive:  /content/NewFolder.zip
   creating: folder/New folder/
  inflating: folder/New folder/LTE  referance data - Copy (1).csv
  inflating: folder/New folder/LTE  referance data - Copy (10).csv
  inflating: folder/New folder/LTE  referance data - Copy (11).csv
  inflating: folder/New folder/LTE  referance data - Copy (12).csv
  inflating: folder/New folder/LTE  referance data - Copy (13).csv
  inflating: folder/New folder/LTE  referance data - Copy (14).csv
  inflating: folder/New folder/LTE  referance data - Copy (15).csv
  inflating: folder/New folder/LTE  referance data - Copy (16).csv
  inflating: folder/New folder/LTE  referance data - Copy (17).csv
  inflating: folder/New folder/LTE  referance data - Copy (18).csv
  inflating: folder/New folder/LTE  referance data - Copy (19).csv
  inflating: folder/New folder/LTE  referance data - Copy (2).csv
  inflating: folder/New folder/LTE  referance data - Copy (20).csv
  inflating: folder/New folder/LTE  referance data - Copy (21).csv
  inflating: folder/New folder/LTE  referance data - Copy (22).csv
  inflating: folder/New folder/LTE  referance data - Copy (23).csv
  inflating: folder/New folder/LTE  referance data - Copy (24).csv
  inflating: folder/New folder/LTE  referance data - Copy (25).csv
  inflating: folder/New folder/LTE  referance data - Copy (26).csv
  inflating: folder/New folder/LTE  referance data - Copy (27).csv
  inflating: folder/New folder/LTE  referance data - Copy (28).csv
  inflating: folder/New folder/LTE  referance data - Copy (29).csv
  inflating: folder/New folder/LTE  referance data - Copy (3).csv
  inflating: folder/New folder/LTE  referance data - Copy (30).csv
  inflating: folder/New folder/LTE  referance data - Copy (31).csv
  inflating: folder/New folder/LTE  referance data - Copy (4).csv
  inflating: folder/New folder/LTE  referance data - Copy (5).csv
  inflating: folder/New folder/LTE  referance data - Copy (6).csv
  inflating: folder/New folder/LTE  referance data - Copy (7).csv
  inflating: folder/New folder/LTE  referance data - Copy (8).csv
  inflating: folder/New folder/LTE  referance data - Copy (9).csv

In [31]:
orig_dir="/content/folder/Newfolder/"
all_data = pd.DataFrame()

for f in glob.glob("/content/folder/Newfolder/*.csv"):
    df = pd.read_csv(f, encoding= 'unicode_escape')
    all_data = all_data.append(df,ignore_index=True)
    print(f)

/content/folder/Newfolder/LTE  referance data - Copy (19).csv
/content/folder/Newfolder/LTE  referance data - Copy (6).csv
/content/folder/Newfolder/LTE  referance data - Copy (12).csv
/content/folder/Newfolder/LTE  referance data - Copy (29).csv
/content/folder/Newfolder/LTE  referance data - Copy (26).csv
/content/folder/Newfolder/LTE  referance data - Copy (25).csv
/content/folder/Newfolder/LTE  referance data - Copy (14).csv
/content/folder/Newfolder/LTE  referance data - Copy (17).csv
/content/folder/Newfolder/LTE  referance data - Copy (24).csv
/content/folder/Newfolder/LTE  referance data - Copy (16).csv
/content/folder/Newfolder/LTE  referance data - Copy (13).csv
/content/folder/Newfolder/LTE  referance data - Copy (3).csv
/content/folder/Newfolder/LTE  referance data - Copy (23).csv
/content/folder/Newfolder/LTE  referance data - Copy (31).csv
/content/folder/Newfolder/LTE  referance data - Copy (27).csv
/content/folder/Newfolder/LTE  referance data - Copy (28).csv
/content/folder/Newfolder/LTE  referance data - Copy (5).csv
/content/folder/Newfolder/LTE  referance data - Copy (9).csv
/content/folder/Newfolder/LTE  referance data - Copy (1).csv
/content/folder/Newfolder/LTE  referance data - Copy (4).csv
/content/folder/Newfolder/LTE  referance data - Copy (15).csv
/content/folder/Newfolder/LTE  referance data - Copy (2).csv
/content/folder/Newfolder/LTE  referance data - Copy (10).csv
/content/folder/Newfolder/LTE  referance data - Copy (22).csv
/content/folder/Newfolder/LTE  referance data - Copy (18).csv
/content/folder/Newfolder/LTE  referance data - Copy (11).csv
/content/folder/Newfolder/LTE  referance data - Copy (20).csv
/content/folder/Newfolder/LTE  referance data - Copy (30).csv
/content/folder/Newfolder/LTE  referance data - Copy (8).csv
/content/folder/Newfolder/LTE  referance data - Copy (21).csv
/content/folder/Newfolder/LTE  referance data - Copy (7).csv

In [32]:
all_data

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,dateid,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/19/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/19/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/19/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/19/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/19/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151397,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/7/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151398,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1/7/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151399,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1/7/2023,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151400,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,1/7/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151401,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,1/7/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
all_data['Date'] = pd.to_datetime(all_data['dateid'], errors='coerce')
count = all_data.groupby(all_data['Date'].dt.date).size()

In [44]:
count

Date
2023-01-01    37142
2023-01-02    37142
2023-01-03    37142
2023-01-04    37142
2023-01-05    37142
2023-01-06    37142
2023-01-07    37142
2023-01-08    37142
2023-01-09    37142
2023-01-10    37142
2023-01-11    37142
2023-01-12    37142
2023-01-13    37142
2023-01-14    37142
2023-01-15    37142
2023-01-16    37142
2023-01-17    37142
2023-01-18    37142
2023-01-19    37142
2023-01-20    37142
2023-01-21    37142
2023-01-22    37142
2023-01-23    37142
2023-01-24    37142
2023-01-25    37142
2023-01-26    37142
2023-01-27    37142
2023-01-28    37142
2023-01-29    37142
2023-01-30    37142
2023-01-31    37142
dtype: int64

In [45]:
all_data

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,Date
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151397,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07
1151398,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07
1151399,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07
1151400,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07
1151401,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07

In [55]:
all_data.to_csv('out.csv', index=False)

In [56]:
referance_data = pd.read_csv('/content/out.csv')

In [57]:
referance_data

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,Date
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151397,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07
1151398,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07
1151399,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07
1151400,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07
1151401,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07

In [58]:
result = pd.merge(referance_data, myDataFrame, how="left", on=['dateid', 'cellid', 'siteid'])
result

KeyError: ignored

In [ ]:
result.describe()

,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,countif,Down Time - M
count,65856.000000,1400.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3617.015306,1848.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7752.034429,1476.673812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,120.000000,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,780.000000,1320.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3780.000000,3060.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,60480.000000,4740.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:

!sudo pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.8-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.8/152.8 KB 4.0 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.8

In [ ]:
writer = pd.ExcelWriter("dataframe.xlsx", engine='xlsxwriter')
result.to_excel(writer,sheet_name = 'sheet1', index=False)
writer.save()