<a href="https://colab.research.google.com/github/Ayman-Abdeen/Tools/blob/main/LTE_tool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import os
import glob
import warnings
warnings.simplefilter("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
orig_dir = os.getcwd()

In [ ]:
orig_dir

'/content'

In [ ]:
ZTE = pd.read_csv('/content/drive/MyDrive/lte/History Performance_4G_DT_AlBassiouny_20230131163429.csv', skiprows=6,usecols=[1, 9, 11, 13], names=['dateid', 'cellid', 'siteid',  'Down Time - M'], parse_dates=['dateid'])
ZTE

           dateid                   cellid    siteid  Down Time - M
0      2023-01-01  LCAI1235_12352_N_Z_D3-2  LCAI1235              0
1      2023-01-01  LCAI1235_12354_N_Z_D3-4  LCAI1235              0
2      2023-01-01  LCAI1235_12353_N_Z_D3-3  LCAI1235              0
3      2023-01-01  LCAI1235_12351_N_Z_D3-1  LCAI1235              0
4      2023-01-01  LCAI1639_16392_N_Z_D3-2  LCAI1639            900
...           ...                      ...       ...            ...
112625 2023-01-31  LDEL4296_42961_N_Z_D3-1  LDEL4296              0
112626 2023-01-31  LDEL1586_15862_N_Z_D3-2  LDEL1586              0
112627 2023-01-31  LDEL1586_15864_N_Z_D3-4  LDEL1586              0
112628 2023-01-31  LDEL1586_15863_N_Z_D3-3  LDEL1586              0
112629 2023-01-31  LDEL1586_15861_N_Z_D3-1  LDEL1586              0

[112630 rows x 4 columns]

In [ ]:
HUAWEI = pd.read_excel('/content/drive/MyDrive/lte/4G_HUAWEI_Update.xlsx',usecols=[0, 1, 2, 3], names=['dateid', 'siteid', 'cellid', 'Down Time - M'], parse_dates=['dateid'])
HUAWEI

           dateid     siteid                   cellid  Down Time - M
0      2023-01-01  64TSite e  64TSite0eNodeB0ID=26880              0
1      2023-01-02  64TSite e  64TSite0eNodeB0ID=26880              0
2      2023-01-03  64TSite e  64TSite0eNodeB0ID=26880              0
3      2023-01-04  64TSite e  64TSite0eNodeB0ID=26880              0
4      2023-01-09  64TSite e  64TSite0eNodeB0ID=26880              0
...           ...        ...                      ...            ...
364361 2023-01-31   MassiveM                      NaN              0
364362 2023-01-31   MassiveM                      NaN              0
364363 2023-01-31   MassiveM                      NaN              0
364364 2023-01-31   MassiveM                      NaN              0
364365 2023-01-31   MassiveM                      NaN              0

[364366 rows x 4 columns]

In [ ]:
Ericsson = pd.read_excel('/content/drive/MyDrive/lte/4G_Ericsson_update.xlsx',usecols=[1, 2, 3, 4], names=['dateid', 'siteid', 'cellid', 'Down Time - M'], parse_dates=['dateid'])
Ericsson

           dateid    siteid                   cellid  Down Time - M
0      2023-01-31  MCAI1457  LCAI1457_14572_R_E_D6-2        86400.0
1      2023-01-31  LCAI0256  LCAI0256_02567_I_E_G1-3        86400.0
2      2023-01-31  LCAI2239  LCAI2239_22398_N_E_G1-4        86400.0
3      2023-01-31  LCAI4177  LCAI4177_41770_N_E_D8-5        86400.0
4      2023-01-31  LCAI4177  LCAI4177_41771_N_E_D8-1        86400.0
...           ...       ...                      ...            ...
599149 2023-01-01  MCAI6072  LCAI6072_60724_N_E_D3-4            NaN
599150 2023-01-01  MCAI6072  LCAI6072_60725_N_E_G1-1            NaN
599151 2023-01-01  MCAI6072  LCAI6072_60726_N_E_G1-2            NaN
599152 2023-01-01  MCAI6072  LCAI6072_60727_N_E_G1-3            NaN
599153 2023-01-01  MCAI6072  LCAI6072_60728_N_E_G1-4            NaN

[599154 rows x 4 columns]

In [ ]:
#all_data=myDataFrame
#all_data['Date'] = pd.to_datetime(all_data['dateid'], errors='coerce')
#count = all_data.groupby(all_data['Date'].dt.date).size()
#count

In [ ]:
#list dataframe you want to append
frame = [ZTE, HUAWEI, Ericsson]

#new dataframe to store append result
myDataFrame = pd.DataFrame()

for df in frame:
    myDataFrame = myDataFrame.append(df)

In [ ]:
myDataFrame

           dateid                   cellid    siteid  Down Time - M
0      2023-01-01  LCAI1235_12352_N_Z_D3-2  LCAI1235            0.0
1      2023-01-01  LCAI1235_12354_N_Z_D3-4  LCAI1235            0.0
2      2023-01-01  LCAI1235_12353_N_Z_D3-3  LCAI1235            0.0
3      2023-01-01  LCAI1235_12351_N_Z_D3-1  LCAI1235            0.0
4      2023-01-01  LCAI1639_16392_N_Z_D3-2  LCAI1639          900.0
...           ...                      ...       ...            ...
599149 2023-01-01  LCAI6072_60724_N_E_D3-4  MCAI6072            NaN
599150 2023-01-01  LCAI6072_60725_N_E_G1-1  MCAI6072            NaN
599151 2023-01-01  LCAI6072_60726_N_E_G1-2  MCAI6072            NaN
599152 2023-01-01  LCAI6072_60727_N_E_G1-3  MCAI6072            NaN
599153 2023-01-01  LCAI6072_60728_N_E_G1-4  MCAI6072            NaN

[1076150 rows x 4 columns]

In [ ]:
len(myDataFrame)

1076150

In [ ]:
len(ZTE)+len(HUAWEI)+len(Ericsson)

1076150

In [ ]:
!unzip /content/drive/MyDrive/lte/Newfolder.zip -d folder

Archive:  /content/drive/MyDrive/lte/Newfolder.zip
   creating: folder/New1/
  inflating: folder/New1/LTE  referance data - Copy (1).csv
  inflating: folder/New1/LTE  referance data - Copy (10).csv
  inflating: folder/New1/LTE  referance data - Copy (11).csv
  inflating: folder/New1/LTE  referance data - Copy (12).csv
  inflating: folder/New1/LTE  referance data - Copy (13).csv
  inflating: folder/New1/LTE  referance data - Copy (14).csv
  inflating: folder/New1/LTE  referance data - Copy (15).csv
  inflating: folder/New1/LTE  referance data - Copy (16).csv
  inflating: folder/New1/LTE  referance data - Copy (2).csv
  inflating: folder/New1/LTE  referance data - Copy (3).csv
  inflating: folder/New1/LTE  referance data - Copy (4).csv
  inflating: folder/New1/LTE  referance data - Copy (5).csv
  inflating: folder/New1/LTE  referance data - Copy (6).csv
  inflating: folder/New1/LTE  referance data - Copy (7).csv
  inflating: folder/New1/LTE  referance data - Copy (8).csv
  inflating: folder/New1/LTE  referance data - Copy (9).csv
   creating: folder/New2/
  inflating: folder/New2/LTE  referance data - Copy (17).csv
  inflating: folder/New2/LTE  referance data - Copy (18).csv
  inflating: folder/New2/LTE  referance data - Copy (19).csv
  inflating: folder/New2/LTE  referance data - Copy (20).csv
  inflating: folder/New2/LTE  referance data - Copy (21).csv
  inflating: folder/New2/LTE  referance data - Copy (22).csv
  inflating: folder/New2/LTE  referance data - Copy (23).csv
  inflating: folder/New2/LTE  referance data - Copy (24).csv
  inflating: folder/New2/LTE  referance data - Copy (25).csv
  inflating: folder/New2/LTE  referance data - Copy (26).csv
  inflating: folder/New2/LTE  referance data - Copy (27).csv
  inflating: folder/New2/LTE  referance data - Copy (28).csv
  inflating: folder/New2/LTE  referance data - Copy (29).csv
  inflating: folder/New2/LTE  referance data - Copy (30).csv
  inflating: folder/New2/LTE  referance data - Copy (31).csv

In [ ]:
orig_dir="/content/folder/New1/"
all_data1 = pd.DataFrame()

for f in glob.glob("/content/folder/New1/*.csv"):
    df = pd.read_csv(f, encoding= 'unicode_escape')
    all_data1 = all_data1.append(df,ignore_index=True)
    print(f)

/content/folder/New1/LTE  referance data - Copy (1).csv
/content/folder/New1/LTE  referance data - Copy (16).csv
/content/folder/New1/LTE  referance data - Copy (3).csv
/content/folder/New1/LTE  referance data - Copy (14).csv
/content/folder/New1/LTE  referance data - Copy (10).csv
/content/folder/New1/LTE  referance data - Copy (2).csv
/content/folder/New1/LTE  referance data - Copy (11).csv
/content/folder/New1/LTE  referance data - Copy (15).csv
/content/folder/New1/LTE  referance data - Copy (8).csv
/content/folder/New1/LTE  referance data - Copy (6).csv
/content/folder/New1/LTE  referance data - Copy (7).csv
/content/folder/New1/LTE  referance data - Copy (12).csv
/content/folder/New1/LTE  referance data - Copy (9).csv
/content/folder/New1/LTE  referance data - Copy (4).csv
/content/folder/New1/LTE  referance data - Copy (13).csv
/content/folder/New1/LTE  referance data - Copy (5).csv

In [ ]:
orig_dir="/content/folder/New1/"
all_data2 = pd.DataFrame()

for f in glob.glob("/content/folder/New1/*.csv"):
    df = pd.read_csv(f, encoding= 'unicode_escape')
    all_data2 = all_data2.append(df,ignore_index=True)
    print(f)

/content/folder/New1/LTE  referance data - Copy (1).csv
/content/folder/New1/LTE  referance data - Copy (16).csv
/content/folder/New1/LTE  referance data - Copy (3).csv
/content/folder/New1/LTE  referance data - Copy (14).csv
/content/folder/New1/LTE  referance data - Copy (10).csv
/content/folder/New1/LTE  referance data - Copy (2).csv
/content/folder/New1/LTE  referance data - Copy (11).csv
/content/folder/New1/LTE  referance data - Copy (15).csv
/content/folder/New1/LTE  referance data - Copy (8).csv
/content/folder/New1/LTE  referance data - Copy (6).csv
/content/folder/New1/LTE  referance data - Copy (7).csv
/content/folder/New1/LTE  referance data - Copy (12).csv
/content/folder/New1/LTE  referance data - Copy (9).csv
/content/folder/New1/LTE  referance data - Copy (4).csv
/content/folder/New1/LTE  referance data - Copy (13).csv
/content/folder/New1/LTE  referance data - Copy (5).csv

In [ ]:
all_data1

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,dateid,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594267,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/5/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594268,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1/5/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594269,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1/5/2023,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594270,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,1/5/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594271,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,1/5/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
all_data2

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,dateid,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/1/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594267,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,1/5/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594268,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1/5/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594269,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,1/5/2023,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594270,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,1/5/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594271,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,1/5/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#all_data=all_data2
#all_data['Date'] = pd.to_datetime(all_data['dateid'], errors='coerce')
#count = all_data.groupby(all_data['Date'].dt.date).size()
#count

In [ ]:
all_data1.to_csv('/content/drive/MyDrive/lte/out1.csv', index=False)

In [ ]:
all_data2.to_csv('/content/drive/MyDrive/lte/out2.csv', index=False)

In [ ]:
referance_data = pd.read_csv('/content/drive/MyDrive/lte/out2.csv', parse_dates=['dateid'])

In [ ]:
referance_data

,cellid,cell_name,siteid,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,dateid,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594267,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,2023-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594268,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,2023-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594269,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,2023-01-05,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594270,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,2023-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594271,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,2023-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
referance_data.columns

Index(['cellid', 'cell_name', 'siteid', 'celltype', 'controller', 'vendor',
       'cell_status', 'site_status', 'site_subcategory', 'area', 'zone',
       'tier', 'mrcorp', 'dateid', 'outage_downtime',
       'planned_outage_downtime', 'uptime', 'downtime', 'totaltime',
       'available_tchs', 'unavailable_tchs', 'configured_tchs',
       'planned_outage_tch_loss'],
      dtype='object')

In [ ]:
myDataFrame.columns

Index(['dateid', 'cellid', 'siteid', 'Down Time - M'], dtype='object')

In [ ]:
s = 'dateid' == 'dateid'
s

True

In [ ]:
d='cellid'=='cellid'
d

True

In [ ]:
myDataFrame

           dateid                   cellid    siteid  Down Time - M
0      2023-01-01  LCAI1235_12352_N_Z_D3-2  LCAI1235            0.0
1      2023-01-01  LCAI1235_12354_N_Z_D3-4  LCAI1235            0.0
2      2023-01-01  LCAI1235_12353_N_Z_D3-3  LCAI1235            0.0
3      2023-01-01  LCAI1235_12351_N_Z_D3-1  LCAI1235            0.0
4      2023-01-01  LCAI1639_16392_N_Z_D3-2  LCAI1639          900.0
...           ...                      ...       ...            ...
599149 2023-01-01  LCAI6072_60724_N_E_D3-4  MCAI6072            NaN
599150 2023-01-01  LCAI6072_60725_N_E_G1-1  MCAI6072            NaN
599151 2023-01-01  LCAI6072_60726_N_E_G1-2  MCAI6072            NaN
599152 2023-01-01  LCAI6072_60727_N_E_G1-3  MCAI6072            NaN
599153 2023-01-01  LCAI6072_60728_N_E_G1-4  MCAI6072            NaN

[1076150 rows x 4 columns]

In [ ]:
result = pd.merge(referance_data, myDataFrame, how="left", on=['dateid','cellid'])
result

,cellid,cell_name,siteid_x,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,siteid_y,Down Time - M
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594701,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594702,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCAI2490,0.0
594703,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MCAI0650,0.0
594704,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MCAI5260,0.0
594705,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCAI5298,0.0

In [ ]:
result.describe()

,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,Down Time - M
count,37632.000000,800.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,346640.000000
mean,3617.015306,1848.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429.785371
std,7752.078572,1477.069791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4440.643154
min,0.000000,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,120.000000,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,780.000000,1320.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,3780.000000,3060.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,60480.000000,4740.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86400.000000

In [ ]:
result.to_csv('/content/drive/MyDrive/lte/dataframeout2.csv', index=False)

In [ ]:

!sudo pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.8-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.8/152.8 KB 3.9 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.8

In [ ]:
writer = pd.ExcelWriter("dataframe.xlsx", engine='xlsxwriter')
result.to_excel(writer,sheet_name = 'sheet1', index=False)
writer.save()

ValueError: ignored

In [ ]:
ava_data = pd.read_csv('/content/drive/MyDrive/lte/dataframeout2.csv', parse_dates=['dateid'])

In [ ]:
ava_data

,cellid,cell_name,siteid_x,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,siteid_y,Down Time - M
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594701,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594702,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCAI2490,0.0
594703,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MCAI0650,0.0
594704,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MCAI5260,0.0
594705,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCAI5298,0.0

In [ ]:
ava_data['Down Time - M'] = ava_data['Down Time - M'].div(60)

In [ ]:
ava_data['Down Time - M'].max()

1440.0

In [ ]:
ava_data

,cellid,cell_name,siteid_x,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,siteid_y,Down Time - M
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594701,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594702,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCAI2490,0.0
594703,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MCAI0650,0.0
594704,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MCAI5260,0.0
594705,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCAI5298,0.0

In [ ]:
ava_data['id']=ava_data['siteid_x'].str[-7:]

In [ ]:
outage = pd.read_excel('/content/drive/MyDrive/lte/AccumulatedOutage.xlsx')
outage

,siteid,site,cells,cellcount,controller,rbstype,area,number_of_cascaded,tier,eventtime,...,dependency_reason,notcascaded,zone_1_2,celltype,majorproblem,sub_majorproblem,site_with_cascaded,MR_CP,Week,Mounth
0,UDEL4561,DEL4561,UDEL45611 UDEL45613 UDEL45614 UDEL45616 UDEL4...,9.0,TRZ11,Macro,Delta,1.0,Tier4,2023-02-10 23:59:29,...,NaN,Not Cascaded,Zone2,3G,Power,Power_Commercial,DEL4561,NaN,6,2
1,DEL4561,DEL4561,45611 45612 45613 45614 45616 45617 45618 45619,8.0,TBZ10,Macro,Delta,1.0,Tier4,2023-02-10 23:59:06,...,NaN,Not Cascaded,Zone2,2G,Power,Power_Commercial,DEL4561,NaN,6,2
2,CAI2443,CAI2443,2443A 2443B 2443C,3.0,CBX36,Macro,Tagamo3,0.0,Tier3,2023-02-10 23:55:39,...,NaN,Not Cascaded,Zone1,2G,Power,Power_Commercial,CAI2443,Major Road,6,2
3,UCAI2227,CAI2227,UCAI22271 UCAI22272 UCAI22273 UCAI22274 UCAI2...,12.0,KRX08,Macro,Gesr El Suiz,3.0,Tier1,2023-02-10 23:54:50,...,NaN,Not Cascaded,Zone2,3G,Other,Other_Unknown_Reason,CAI2227,Major Road,6,2
4,HUCAI6037,CAI6037,HU60371 HU60375,2.0,YRH35,Micro,Helwan,0.0,Tier3,2023-02-10 23:50:05,...,NaN,Not Cascaded,Zone1,3G,Other,Other_Unknown_Reason,CAI6037,Major Road,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142019,UCAI3026,CAI3026,UCAI30261 UCAI30265,2.0,VRX09,Micro,Tagamo3,0.0,Tier1,2022-09-16 03:02:53,...,NaN,Not Cascaded,Zone1,3G,High_Temp,High_Temp,CAI3026,NaN,3,1
142020,UCAI3026,CAI3026,UCAI30261 UCAI30265,2.0,VRX09,Micro,Tagamo3,0.0,Tier1,2022-09-16 03:02:53,...,NaN,Not Cascaded,Zone1,3G,High_Temp,High_Temp,CAI3026,NaN,3,1
142021,UCAI3026,CAI3026,UCAI30261 UCAI30265,2.0,VRX09,Micro,Tagamo3,0.0,Tier1,2022-09-16 03:02:53,...,NaN,Not Cascaded,Zone1,3G,High_Temp,High_Temp,CAI3026,NaN,3,1
142022,UCAI3026,CAI3026,UCAI30261 UCAI30265,2.0,VRX09,Micro,Tagamo3,0.0,Tier1,2022-09-16 03:02:53,...,NaN,Not Cascaded,Zone1,3G,High_Temp,High_Temp,CAI3026,NaN,3,1
142023,UCAI3026,CAI3026,NaN,0.0,VRX09,Micro,Tagamo3,0.0,Tier1,2022-09-16 03:02:53,...,NaN,Not Cascaded,Zone1,3G,High_Temp,High_Temp,CAI3026,NaN,3,1

In [ ]:
outage = pd.read_excel('/content/drive/MyDrive/lte/AccumulatedOutage.xlsx',usecols=[0,1,11,39,50], names=['siteid', 'id', 'outage-Down Time - M', 'dateid', 'ServiceType'], parse_dates=['dateid'])
outage

           siteid       id  outage-Down Time - M     dateid ServiceType
0        UDEL4561  DEL4561                   0.0 2023-02-10          3G
1         DEL4561  DEL4561                   0.0 2023-02-10          2G
2         CAI2443  CAI2443                   4.0 2023-02-10          2G
3        UCAI2227  CAI2227                   5.0 2023-02-10          3G
4       HUCAI6037  CAI6037                   0.0 2023-02-10          3G
...           ...      ...                   ...        ...         ...
142019   UCAI3026  CAI3026                1440.0 2023-01-15          3G
142020   UCAI3026  CAI3026                1440.0 2023-01-16          3G
142021   UCAI3026  CAI3026                1440.0 2023-01-17          3G
142022   UCAI3026  CAI3026                1440.0 2023-01-18          3G
142023   UCAI3026  CAI3026                1063.0 2023-01-19          3G

[142024 rows x 5 columns]

In [ ]:
outage

        siteid_y       id  outage-Down Time - M     dateid ServiceType
0       UCAI5371  CAI5371                 227.0 2023-01-08          3G
1       UCAI5014  CAI5014                 227.0 2023-01-08          3G
2        CAI5371  CAI5371                 226.0 2023-01-08          2G
3       UCAI5560  CAI5560                 227.0 2023-01-08          3G
4       LCAI5560  CAI5560                 228.0 2023-01-08         LTE
...          ...      ...                   ...        ...         ...
124580  UCAI0985  CAI0985                   0.0 2023-02-03          3G
124581  UCAI0325  CAI0325                   0.0 2023-02-03          3G
124582  UCAI1872  CAI1872                   0.0 2023-02-03          3G
124583  UCAI2479  CAI2479                   0.0 2023-02-03          3G
124584  UCAI5061  CAI5061                   0.0 2023-02-03          3G

[124585 rows x 5 columns]

In [ ]:
outage = outage[outage['ServiceType'] == 'LTE']

In [ ]:
outage.describe()

       outage-Down Time - M
count          34269.000000
mean              35.584843
std              118.486004
min                0.000000
25%                1.000000
50%                4.000000
75%               17.000000
max             1440.000000

In [ ]:
outage['ServiceType'].describe(include="all")

count     34269
unique        1
top         LTE
freq      34269
Name: ServiceType, dtype: object

In [ ]:
outage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34269 entries, 6 to 141907
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   siteid                34269 non-null  object
 1   id                    34269 non-null  object
 2   outage-Down Time - M  34269 non-null  float64
 3   dateid                34269 non-null  datetime64[ns]
 4   ServiceType           34269 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.6+ MB

In [ ]:
result = pd.merge(ava_data, outage, how="left", on=['dateid','id'])
result

,cellid,cell_name,siteid_x,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,siteid_y,Down Time - M,id,siteid,outage-Down Time - M,ServiceType
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CAI1330,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CAI2157,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CAI1484,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CAI3512,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CAI0770,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675727,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CAI1832,NaN,NaN,NaN
675728,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,LCAI2490,0.0,CAI2490,NaN,NaN,NaN
675729,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,NaN,MCAI0650,0.0,CAI0650,NaN,NaN,NaN
675730,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,NaN,MCAI5260,0.0,CAI5260,NaN,NaN,NaN
675731,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,NaN,LCAI5298,0.0,CAI5298,NaN,NaN,NaN

In [ ]:
result.describe()

,outage_downtime,planned_outage_downtime,uptime,downtime,totaltime,available_tchs,unavailable_tchs,configured_tchs,planned_outage_tch_loss,Down Time - M,outage-Down Time - M
count,43495.000000,886.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,381548.000000,131761.000000
mean,3465.768019,1941.805869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.332909,30.460895
std,7476.255230,1456.706722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.769985,110.295781
min,0.000000,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,180.000000,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000
50%,780.000000,1860.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,3.000000
75%,3720.000000,3060.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,11.000000
max,60480.000000,4740.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1440.000000,1440.000000

In [ ]:
result['Total Down Time - M'] = result['Down Time - M'] + result['outage-Down Time - M']

In [ ]:
result

,cellid,cell_name,siteid_x,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,unavailable_tchs,configured_tchs,planned_outage_tch_loss,siteid_y,Down Time - M,id,siteid,outage-Down Time - M,ServiceType,Total Down Time - M
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAI1330,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAI2157,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAI1484,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAI3512,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAI0770,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675727,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAI1832,NaN,NaN,NaN,NaN
675728,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,LCAI2490,0.0,CAI2490,NaN,NaN,NaN,NaN
675729,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,NaN,MCAI0650,0.0,CAI0650,NaN,NaN,NaN,NaN
675730,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,NaN,MCAI5260,0.0,CAI5260,NaN,NaN,NaN,NaN
675731,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,NaN,LCAI5298,0.0,CAI5298,NaN,NaN,NaN,NaN

In [ ]:
result['Total Down Time - s'] = result['Total Down Time - M']*60

In [ ]:
result

,cellid,cell_name,siteid_x,celltype,controller,vendor,cell_status,site_status,site_subcategory,area,...,configured_tchs,planned_outage_tch_loss,siteid_y,Down Time - M,id,siteid,outage-Down Time - M,ServiceType,Total Down Time - M,Total Down Time - s
0,LCAI1330_13301_N_H_D3-1,LCAI1330_13301_N_H_D3-1,LCAI1330,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CAI1330,NaN,NaN,NaN,NaN,NaN
1,LCAI2157_21570_X_H_D6-1,LCAI2157_21570_X_H_D6-1,LCAI2157,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CAI2157,NaN,NaN,NaN,NaN,NaN
2,LCAI1484_14841_N_H_D3-1,LCAI1484_14841_N_H_D3-1,LCAI1484,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CAI1484,NaN,NaN,NaN,NaN,NaN
3,LCAI3512_35123_N_H_D7-3,LCAI3512_35123_N_H_D7-3,LCAI3512,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CAI3512,NaN,NaN,NaN,NaN,NaN
4,LCAI0770_07706_N_H_G1-1,LCAI0770_07706_N_H_G1-1,ULCAI0770,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CAI0770,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675727,LCAI1832_52094_N_H_T4-4,LCAI1832_52094_N_H_T4-4,LCAI1832,LTE,LTE_Huawei,Huawei,ON AIR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CAI1832,NaN,NaN,NaN,NaN,NaN
675728,LCAI2490_24908_N_Z_G1-4,LCAI2490_24908_N_Z_G1-4,LCAI2490,LTE,LTE_ZTE,ZTE,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,LCAI2490,0.0,CAI2490,NaN,NaN,NaN,NaN,NaN
675729,LCAI0650_57515_N_E_T8-1,LCAI0650_57515_N_E_T8-1,LCAI0650,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Gesr El Suiz,...,NaN,NaN,MCAI0650,0.0,CAI0650,NaN,NaN,NaN,NaN,NaN
675730,LCAI5260_52607_N_E_G1-3,LCAI5260_52607_N_E_G1-3,LCAI5260,LTE,LTE,Ericsson,ON AIR,ON AIR,FM Inspection,Tagamo3,...,NaN,NaN,MCAI5260,0.0,CAI5260,NaN,NaN,NaN,NaN,NaN
675731,LCAI5298_52981_I_E_D1-1,LCAI5298_52981_I_E_D1-1,LCAI5298,LTE,LTE,Ericsson,ON AIR,ON AIR,EOT,Tagamo3,...,NaN,NaN,LCAI5298,0.0,CAI5298,NaN,NaN,NaN,NaN,NaN

In [ ]:
result.to_csv('/content/drive/MyDrive/lte/FinalDataFrameout2.csv', index=False)

In [ ]:
!zip -r '/content/drive/MyDrive/lte/FinalDataFrameout1.zip' '/content/drive/MyDrive/lte/FinalDataFrameout1.csv'

  adding: content/drive/MyDrive/lte/FinalDataFrameout1.csv (deflated 88%)